body,
html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    /* background-image: url(img/animated_background.svg) !important; */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
}

@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: NunitoSemiBold;
    src: url('../fonts/Nunito-SemiBold.ttf');
}

/* .navbar{
    width: 100%;
    height: calc(100vh*1/8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.2rem;
    color: #525252;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: #ffffff75;
    align-items: center;
}
.content{
    width: 100%;
    height: calc(100vh*7/8);

} */

.sections {
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: flex;
}

.section-1 {
    /* width: 20%; */
    /* background-color: black; */
    padding: 15px
}

.section-2 {
    width: 100%;
    /* height: 100%; */
    /* min-height: 100%; */
    padding: 15px 15px 15px 0px;

}

.content {
    height: 100%;
    min-height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 12px;
    /* background-color: transparent; */
    background-color: #00000038;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.menu {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    height: 100%;
    border-radius: 12px;
}

.sb-width {
    width: 250px;
}

.user-info {
    background-color: #1a1c1e;
    border-radius: 12px 12px;
    height: 265px;
    /* height: 200px; */
}

.m-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px white solid;
    z-index: 1;
}

.image {
    width: 100%;
    height: 100%;
}

.user-data {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-name {
    /* border: 4px white solid; */
    border-radius: 12px;
    /* padding: 6px 10px 6px 25px; */
    padding: 10px;
    /* margin-left: -20px; */
    color: white;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    /* margin-top: 20px; */
}

@import url('http://fonts.cdnfonts.com/css/montserrat');

.menu-title {
    color: white;
    background-color: #0099FF;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    border-radius: 6px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 18px;
}

.user-id {
    background-color: #F8ED33;
    color: #2B3991;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    text-align: center;
    font-weight: bolder;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.brand-logo {
    width: 190px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.logo-img {
    width: 100%;
    height: 100%;
}


.option {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin: 10px;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    cursor: pointer;
}

* {
    transition: all 1s;
}

.links {
    height: calc(100% - 265px);
    overflow-y: auto;
}

.option-img {
    height: 30px;
    width: 30px;
    margin-right: 25px;
}

.scroll-width-thin {
    scrollbar-width: thin;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(58, 58, 58) rgb(255, 255, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(53, 53, 53);
    border-radius: 100px !important;
    border: 3px solid rgb(255, 255, 255);
}

.power-icon {
    color: white;
}

.option-icon {
    font-size: 1.6rem;
    margin-right: 15px;
    margin-left: 10px;
    color: #1a1c1e;
}

a {
    text-decoration: none !important;
}

.option:hover {
    background-color: #1a1c1e;
    color: white;
}

.option:hover>.option-icon {
    color: white;
}

#bottom-nav {
    display: none;
}

@media (max-width: 700px) {
    #sidebar-menu {
        display: none !important;
    }

    #bottom-nav {
        display: block !important;
    }

    .section-2 {
        padding: 15px 15px 15px 15px;
    }

    .content {
        height: calc(100% - 60px) !important;
        min-height: 0 !important;
        width: 100%;
    }
}

.fullscreen-btn {
    position: fixed;
    background-color: #0000004a;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 10px;
    top: 10px;
    right: 10px !important;
    cursor: pointer;
}

.fullscreen-btn:hover {
    background-color: #000000c5;

}